<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head',{}); %>
    <title>Document</title>
</head>
<body>
    <div class="layui-container">
        <div class="layui-row">
            <ul class="layui-nav">
                <li class="layui-nav-item">
                    <a href="">写文章</a>
                </li>
                <li class="layui-nav-item">
                    <a href="">退出</a>
                </li>
                <li class="layui-nav-item">
                    <a href="">
                        <i class="layui-icon layui-icon-face-smile" style="font-size: 30px; color: #1E9FFF;"></i>
                    </a>
                </li>
            </ul>
            <div>
                <input type="text" name="title" required lay-verify="required" placeholder="请输入文章标题" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
</body>
</html>