
    <ul class="layui-nav">
        <li class="layui-nav-item">
          <a href="/add">写文章</a>
        </li>
        <li class="layui-nav-item">
          <a href="">退出</a>
        </li>
        <li class="layui-nav-item">
          <a href="">
            <i class="layui-icon layui-icon-face-smile" style="font-size: 30px; color: #1E9FFF;"></i> 
          </a>
        </li>
      </ul>