<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head',{}); %>
    <title>Document</title>
    <style>
        .layui-input{
            width: 50%;
        }
        .layui-btn-fluid{
            width: 50%;
            background-color: #1E9FFF;
        }
        .layui-form-item{
            margin-left: 25%;
        }
        .zhuce{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="layui-container">
        <div class="layui-row">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required placeholder="请输入用户名" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="title" required placeholder="请输入密码" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="title" required placeholder="请再次输入密码" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <!-- <button class="layui-btn" type="button" lay-submit lay-filter="formDemo" class="layui-btn layui-btn-fluid">立即提交</button> -->
                        <button type="button" class="layui-btn layui-btn-fluid">注册</button>
                    </div>
                </div>
                <div class="zhuce">
                    已有账号，<a href="/login" style="color: #1E9FFF;">立即登录</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>